body {
    padding-left: 50px;
    padding-right: 50px;
}

/*
I use the <code> tag inside of headers but the text looks small. It looks so small that you might not realize it's even
a header. Adjust the font size higher for code snippets in headers
*/
h2 code {
    font-size: 130%
}

.grid-wrapper > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
}

table.table-style-1 {
    border-collapse: collapse;
}

table.table-style-1 td, table.table-style-1 th  {
    margin: 5px;
    padding: 5px;
}

table.table-style-1 tbody tr:nth-child(odd) {
    background-color: rgba(233,171,88,.5);
}

table.table-style-1 {
    border: 1px solid #d9480f;
}

/* I took these block quote styles from MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote */
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

