body {
    padding-left: 50px;
    padding-right: 50px;
}

/*
I use the <code> tag inside of headers but the text looks small. It looks so small that you might not realize it's even
a header. Adjust the font size higher for code snippets in headers
*/
h2 code {
    font-size: 130%
}

.grid-wrapper > div {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #d9480f;
}

table.table-style-1 {
    border-collapse: collapse;
    border: 1px solid #d9480f;
}

table.table-style-1 td, table.table-style-1 th  {
    margin: 5px;
    padding: 5px;
}

table.table-style-1 tbody tr:nth-child(odd) {
    background-color: rgba(233,171,88,.5);
}

:root {
    --table-style-2-default-column-width: 200px;
    --table-style-2-cell-margin: 5px;
    --table-style-2-cell-padding: 5px;
}

table.table-style-2 {
    border: 1px solid #d9480f;
    border-collapse: collapse;
    width: fit-content;
    height: 240px;
    display: block;
    overflow-x: auto;
}

table.table-style-2 thead tr {
    /*
    Freeze the header row.

    Note: Because of the table mode is collapsed, I can't get the border of the header row to stay sticky. Also, it's a
    bit surprising but you have to set the background color or else the background is transparent when you scroll down.
    I guess, without setting the background color, it just inherits the background of the parent, which is transparent?
    A workaround for the border problem is to use a box-shadow, which is nice in its own right.

    MDN has a good example of this style of table: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table#displaying_large_tables_in_small_spaces
    */
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 5px black;
}

table.table-style-2 th {
    margin: var(--table-style-2-cell-margin);
    padding: var(--table-style-2-cell-padding);
    width: var(--table-style-2-default-column-width);
    text-align: start;

    /* This is a trick to get user-resizable columns.
    See https://stackoverflow.com/questions/41674548/how-to-make-html-table-columns-resizable */
    overflow: auto;
    resize: horizontal;
}

table.table-style-2 td {
    margin: var(--table-style-2-cell-margin);
    padding: var(--table-style-2-cell-padding);
    width: var(--table-style-2-default-column-width);
}

table.table-style-2 tbody tr:nth-child(odd) {
    background-color: rgba(233,171,88,.5);
}

/* I took these block quote styles from MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote */
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

